@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'ubuntu', sans-serif;
    background: linear-gradient(135deg, #100f24, #1c1d81);
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-weight: 400;
  font-style: normal;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: white;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

header h2 {
    font-size: 1.5rem;
    margin-bottom: 40px;
    transform: translateY(-20px);
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.ilustracao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin-top: 40px;
}

#sobre-mim h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #d1d1d1;
    font-size: 2.0rem;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 20px;
}

#sobre-mim p {
    color: #d1d1d1;
    max-width: 600px;
    margin: 10px auto;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 90px;
}

#cta-btn {
    padding: 15px 30px;
    font-size: 1.0rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: rgb(22, 55, 117);
    color: #b1b1b1;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#cta-btn:hover {
    background: #232d9c;
    color: #ffffff;
}

/* cards de habilidades */

section#sobre {
    padding: 60px 20px;
    text-align: center;
}

section#sobre h2 {
    font-size: 2.5rem;
    color: #d1d1d1;
    margin-bottom: 15px;
}

section#sobre h4 {
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 50px;
    color: #d1d1d1;
    transform: translateY(20px);
    text-align: center;
    margin-left: 20px;
    
}

.skills {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    margin-left: 20px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    background: #2c2c5e;
    padding: 5px;
    width: 280px;
    min-height: 60px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    
}

.skills div:hover {
    transform: translateY(-10px);
}

/* icones */

.skill-icon {
    font-size: 3rem;
    margin: 0px;
}

.titulo-icon {
    font-size: 1.2rem;
    margin: 0;
    color: #d1d1d1;
    transform: none;
}



/* botão rodape */
#cta-final {
    padding: 80px 20px;
    text-align: center;
    color: white;
}

#cta-final h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#cta2-btn {
    padding: 15px 40px;
    font-size: 1.0rem;
    border: none;
    border-radius: 20px;
    background: rgb(22, 55, 117);
    color: #b1b1b1;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}

#cta2-btn:hover {
    background: #232d9c;
    color: #ffffff;
}

/* Resposividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    #cta-btn {
        padding: 12px 25px;
        font-size: 1rem;
    }

    #sobre h2 {
        font-size: 2rem;
    }

    #sobre p {
        font-size: 1rem;
    }

    .skills {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .card {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        border-left: 4px solid #5b54ee;
    }

    #cta-final h2 {
        font-size: 2rem;
    }

    #cta-final p {
        font-size: 1rem;
    }

    #cta2-btn {
        padding: 12px 30px;
        font-size: 1rem;
    }
}

/* Animações */

.animar {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.animar.aparecer {
    opacity: 1;
    transform: translateY(0);
}

.baloom {
    position: relative;
    font-size: 1.0rem;
    color: #d1d1d1;
    margin-bottom: 15px;
    display: flex;
    gap: 15px;
    background: #6e266e;
    padding: 8px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(168, 6, 6, 0.3);
    animation: baloomAnim 2.5s ease-in-out infinite;
}

.baloom::after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: -6px;
    left: 50%;
    background: #6e266e;
    border: transparent #333333 #333333 transparent;
    transform: translateX(90%) rotate(45deg);
    border-radius: 2px;
}

@keyframes baloomAnim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

#contato {
    display: flex;
    justify-content: right;
    padding: 20px 0px;
    gap: 0px;
    flex-direction: row;
    z-index: 9999;
    position: fixed;
    top: 10px;
    right: 20px;
    width: 100%;
}

#contato a {
    color: inherit;
    text-decoration: none;
}

.info-item i {
    padding: 5px;
    font-size: 1.8rem;
    cursor: pointer;
    transition: transform 0.2s ease;
    color: #686767;
    
}

.info-item i:hover {
    transform: scale(1.1);
    color: rgb(160, 158, 158);
}

.foto-perfil {
    position: fixed;
    /* sempre visível */
    top: 10px;
    /* distância do topo */
    left: 20px;
    /* posição na tela */

    width: 70px;
    height: 70px;
    object-fit: cover;
    z-index: 9999;
    /* fica por cima de tudo */

}

.foto-perfil:hover {
    transform: scale(1.08);
}